*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid red;
}


/*********************************************************************************************header container_top*/
.container_top{
    display: flex;
    padding: 25px 23px 0px 23px;
    height: 80px;
}

/*****************************************************************header div_logo*/
.logo{
    width: 50px;
    cursor: pointer;
}

/******************************************************************header div_nav*/
.div_nav{
    flex: 1;
    justify-content: center;
}

.div_nav_ul{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color:rgba(155,145,225,55);;
    width: 70%;
    color: white;
    align-items: center;
    margin: auto;
    height: 100%;
    position: relative;
    border-radius: 20px ;
}

.div_nav_ul >li{
    margin-left: 30px;
    font-size: 25px;
    cursor: pointer;
    
}
.btn{
    position: absolute;
    bottom: 20%;
    transition: 0.3s;
    padding: 5px;
}
#ball{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 2;
    background-color: green;
    position: absolute;
    top: -23px;
    left: 15%;
    transition: 0.3s;
}
.btn{
    opacity: 0;
    transform: 0.5s;
}
.btn:hover{
    bottom: 0%;
    opacity: 1;
}
#beginner_btn:hover ~ #ball{
    left: 5%;
    background-color:red;
}
#classes_btn:hover ~ #ball{
    left: 30%;
    background-color:red;

}
#teacher_btn:hover ~ #ball{
    left: 60%;
    background-color:blue;
}
#contact_btn:hover ~ #ball{
    left: 90%;
    background-color:red;
}

#beginner_btn{
    left: 5%;
}
#classes_btn{
    left: 30%;
}
#teacher_btn{
    right: 30%;
}
#contact_btn{
    right: 5%;
}


/*****************************************************************header div_auth*/
.div_auth_ul{
    list-style: none;
    display: flex;
    margin-top: 23px;
}
.div_auth_ul >li>a{
    font-size: 25px;
    color:rgba(95,85,175,255);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.separator{
    margin: 0 10px;
}

/*********************************************************************************************header container_bottom*/
.divs{
    display: none;
}